<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置信息-->
<configuration>
    <!--控制mybatis全局行为-->

    <!--设置mybatis输出日志，打印到控制台-->
    <!--<settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->

    <!--设置别名-->
    <typeAliases>
        <package name="com.entity"/>
    </typeAliases>

    <!--sql mapper（sql映射文件）的位置-->
    <mappers>
        <package name="com.mapper"/>
    </mappers>
</configuration>